.music {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.music__description {
  width: 65%;
  height: 70%;
  border: 2px solid #574b3f;
  background-color: #574b3f8c;
  border-radius: 35px;
}

.music__btn__play {
  width: 72%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3edd9;
  border-radius: 7px 7px 0px 0px;
  border: 3px solid #66605a;
}

.music__btn__play:active {
  transform: translateY(10px);
}

.music-btn {
  height: 100%;
  width: 7%;
  border: 1px solid rgb(102, 99, 99);
  border-radius: 7px 7px 0px 0px;
  background-color: #c2beaf;
}

.music-btn:active {
  transform: translateY(10px);
}

.music__play__cog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid rgb(146, 134, 134);
  background-color: #ffffff;
}

@keyframes turn {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.cog-turn {
  animation: turn 4s linear infinite;
}

.music__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 248, 235);
  font-size: 15px;
  padding: 0px 5px;
}

.music__description:hover .music__singer {
  display: flex;
}
.music__description:hover .music__title {
  display: none;
}

.music__time {
  font-size: 13px;
}
